/* RESET */
*{margin: 0; padding: 0; font-size: 100%; font-family: 'Open Sans', sans-serif; font-weight: normal; box-sizing: border-box; border: none; outline: none;}
img {max-width: 100%;}
ul {list-style: none;}
a {text-decoration: none;}
h2 {font-size: 1.5em; color: #000}
p {font-size: 1em; color: #000}

body{
	padding: 0;
	margin: 0;
}

*{
    padding: 0px;
    border: 0px;
    list-style:none;
}

/*Corpo inteiro do site*/
#wrapper{
	width: 1920px;
	height: 1080px;
	margin: 0 auto;

}



/*Parte exclusiva do cabeçalho*/
#cabecalho{
 width: 100%;
 height: 150px;
position: relative;
background-color: #6BB7E8;
}


/* Informações em relação a lista(Cor dela e separação entre elas)*/
.menu li a:hover 
{color: rgb(220, 20, 60);}

.menu li a {
	color: #000000; margin-right: 50px;

}

/* Posição do menu superior*/
.menu {
position: absolute;
left:  300px;
 top: 65px;

}
.menu ul li{
	display: inline;

}
.logo{
position: absolute; top: 80 px; left: 100 px;}