/* RESET */
*{margin: 0; padding: 0; font-size: 100%; font-family: 'Open Sans', sans-serif; font-weight: normal; box-sizing: border-box; border: none; outline: none;}
img {max-width: 100%;}
ul {list-style: none;}
a {text-decoration: none;}
h2 {font-size: 1.5em; color: #000}
p {font-size: 1em; color: #000}

body{
	padding: 0;
	margin: 0;
}

*{
    padding: 0px;
    border: 0px;
    list-style:none;
}

/*Corpo inteiro do site*/
#wrapper{
	width: 100%;
	
	margin: 0 auto;

}



/*Parte exclusiva do cabeçalho*/
#cabecalho{
 width: 100%;
 height: 5%;
position: relative;
background-color: #6BB7E8;
}


/* Informações em relação a lista(Cor dela e separação entre elas)*/
.menu li a:hover 
{color: rgb(220, 20, 60);}

.menu li a {
	color: #000000; margin-right: 50px;

}

/* Posição do menu superior*/
.menu {
position: absolute;
left:  200px;
 top: 50px;

}
.menu ul li{
	display: inline;
    font-size: 25px;

}
/*Contéudo do site*/
#conteudogeral{

	font-size: 7vw;
	left:   15%;
}

/*Parte de bcc */
#bcc{
	font-size: 3vw;
	font-weight: 60%;

}
#imgbcc{
	width: 35vw;
	height: 25vw;
 
float: left;
 
}


#conteudobcc{
    
   
  font-size: 1.5vw;

}
/* Parte de bsi */
#bsi{
	background-color: #D3D3D3;
	font-size: 3vw;
	font-weight: 60%;

}
#imgbsi{
	width: 35vw;
	height: 25vw;
 
float: left;
 
}


#conteudobsi{
    
   
  font-size: 1.5vw;

}
/* Parte de LC*/
#lc{
	
	font-size: 3vw;
	font-weight: 60%;

}
#imglc{
	width: 35vw;
	height: 25vw;
 
float: left;
 
}


#conteudolc{
    
   
  font-size: 1.5vw;

}
#rodape{
  background-color: #6BB7E8;
  width: 100%;

}
#rodape1{
   float: left;
   font-size: 1vw;
   
   
}
#rodape2{
   
   font-size: 1vw;
}